<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to CKEditor demo!!!</h1>
    <textarea id="productContentEditor"></textarea>
  </body>
  <script src="/javascripts/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/ckeditor/ckeditor.js"></script>
  <script>
    $(document).ready(function () {
      CKEDITOR.config.extraPlugins = 'filebrowser';
      CKEDITOR.config.language = 'en';
      CKEDITOR.config.fillEmptyBlocks = false;

      CKEDITOR.replace('productContentEditor', {
        filebrowserBrowseUrl:
          '/javascripts/ckeditor/plugins/filemanager/browser/default/browser.html?Connector=/browser/browse',
        filebrowserUploadUrl: '/uploader/upload?Type=File',
        filebrowserImageUploadUrl: '/uploader/upload?Type=Image',
        filebrowserFlashUploadUrl: '/uploader/upload?Type=Flash',
      });
    });
  </script>
</html>
